<div *ngIf="hero">
  <h2>{{hero.name}} details</h2>
  <div>
    <label>id: </label>{{hero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
  </div>

  <div>
    <label>Points restants : {{ hero.points }} </label>
  </div>
  <div>
    <label>attack: </label>
    <input type="number" [(ngModel)]="hero.attack" (change)="checkChar('attack')" placeholder="attack" min="1" />
  </div>
  <div>
    <label>dodge: </label>
    <input type="number" [(ngModel)]="hero.dodge" (change)="checkChar('dodge')" placeholder="dodge" min="1"/>
  </div>
  <div>
    <label>damage: </label>
    <input type="number" [(ngModel)]="hero.damage" (change)="checkChar('damage')" placeholder="damage" min="1"/>
  </div>
  <div>
    <label>Health points: </label>
    <input type="number" [(ngModel)]="hero.HP" (change)="checkChar('HP')" placeholder="hp" min="1"/>
  </div>

  <button (click)="save()">Save</button>
  <button (click)="goBack()">Back</button>

  <div *ngIf="selectedHero">
    <h2>
      {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>
</div>
