<div>
  <label>Ajouter un héros :</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Ok
  </button>
</div>

<div class="tri">
  Trier par :
  <button (click)="sortbyHP()">Points de vie croissants </button>
  <button (click)="sortbyAttack()">Attaque croissante</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete"
            (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>


<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
